<ng-select class="ze-ng-select" [searchFn]="searchFn" [clearable]="clearable" [disabled]="disabled" [items]="items" [virtualScroll]="true" placeholder="{{placeholder}}"
    [bindValue]="bindValue" [(ngModel)]="value" [typeahead]="searchInput" (change)="change($event)" (blur)="onTouch()">
    <ng-template ng-label-tmp let-item="item" let-clear="clear">
        <span aria-hidden="true" (click)="clear(item)" class="ng-value-icon left">×</span>
        <span class="ng-value-label">{{labelFn(item)}}</span>
    </ng-template>
    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <div>{{labelFn(item)}}</div>
    </ng-template>
</ng-select>
