<div class="mt-4">
    <div class="row">
        <div class="col-8 ">
            <span style="font-family: 'GraphikMedium'; font-size: 1.3rem;">{{'All Orders '}}</span>
            <span class="badge rounded-pill bg-secondary ml-n">27</span>
        </div>
        <div class="col-2">
            <input class="form-control" type="text" placeholder="Search for Stocks/Ticker" />
        </div>
        <div class="col-2 justify-content-end">
            <button (click)="openAddOrderModal()" class="btn ze-btn">Add new Order?</button>
        </div>
    </div>
    <table class="table" style="margin-top: 15px;">
        <thead class="ze-table-heading">
            <tr>
                <th style="width: 40%; font-size: 1.4em; text-align: left; ">Stock Name</th>
                <th>Average Price</th>
                <th>Quantity</th>
                <th style="text-align: right;">Current Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngFor="let stockDTO of stockDTOs" class="ze-table-body">
            <tr>
                <td style="text-align: left;">
                    <span class="ze-pointer">
                        <!-- <strong>{{'Adani Ports'}}</strong> -->
                        <strong>{{stockDTO.name}}</strong>
                    </span>
                </td>
                <td class="currency">
                    <!-- {{'100'}} -->
                    {{stockDTO.averagePrice}}
                </td>
                <td>
                    {{stockDTO.quantity}}
                </td>
                <td style="text-align: right">
                    {{"Current Amount"}}
                </td>
                <td>
                    <div ngbDropdown #countryActions="ngbDropdown">
                        <i ngbDropdownToggle class="fas fa-ellipsis-vertical ze-icon-btn ze-pointer"></i>
                        <div ngbDropdownMenu>
                            <button ngbDropdownItem>Edit</button>
                            <button ngbDropdownItem>Delete</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
