<div class="band">
  <div class="header">
    <div class="switchbar-container">
      <div class="switchbar" id="switchbar">
        <div class="switch" [class.selected]="selectedOption === 1" (click)="selectOption(1)">
          <img class="option-switchbar-icon" src="https://cdn-icons-png.flaticon.com/128/4449/4449895.png">
          Stock
        </div>
        <div class="switch" [class.selected]="selectedOption === 2" (click)="selectOption(2)">
          <img class="option-switchbar-icon" src="https://cdn-icons-png.flaticon.com/128/3133/3133613.png">
          Debt
        </div>
        <div class="switch" [class.selected]="selectedOption === 3" (click)="selectOption(3)">
          <img class="option-switchbar-icon" src="https://cdn-icons-png.flaticon.com/128/1473/1473504.png">
          Metals
        </div>
        <div class="switch" [class.selected]="selectedOption === 4" (click)="selectOption(4)">
          <img class="option-switchbar-icon" src="https://cdn-icons-png.flaticon.com/128/855/855288.png">
          MF
        </div>
        <div class="switch" [class.selected]="selectedOption === 5" (click)="selectOption(5)">
          <img class="option-switchbar-icon" src="https://cdn-icons-png.flaticon.com/128/7280/7280222.png">
          Crypto
        </div>
        <div class="switch" [class.selected]="selectedOption === 6" (click)="selectOption(6)">
          <img class="option-switchbar-icon" src="https://cdn-icons-png.flaticon.com/128/1041/1041728.png">
          Info
        </div>
      </div>
    </div>
    <div class="dropdown">
      <ng-select [items]="countryList" class="ze-ng-select" placeholder="Select Country"></ng-select>
    </div>
  </div>
</div>