<div class="mt-4">
    <span style="font-family: 'GraphikMedium'; font-size: 1.3rem;">{{'News & Events '}}</span>
    <table class="table" style="margin-top: 15px;">
        <tbody class="ze-table-body">
            <tr class="ze-pointer" *ngFor="let news of newsUpdates" (click)="redirectToNews(news.url)">
                <td class="col-10" style="text-align: left;">
                    <span class="badge rounded-pill bg-primary ml-n">{{news.symbols | findRelevantStocks : symbols | joinWithCommaPipe}}</span>
                    <br>
                    <strong>{{news.headline}}</strong>
                    <span *ngIf="news.summary">
                        <br>
                        {{news.summary}}
                    </span>
                    <small>
                        <br>{{news.author}} - {{news.updated_at}}
                    </small>
                </td>
                <td class="col-2">
                    <img alt="no img" style="border-radius: 10px; max-width: 160px; height: auto;" src={{news?.images[0]?.url}}>
                </td>
            </tr>
        </tbody>
    </table>
</div>
