<div class="modal-header">
    <h4 class="modal-title">Add Country</h4>
    <i class="fa-solid fa-xmark close-icon ze-icon-btn ze-pointer" (click)="closeModal()"></i>
</div>
<div class="modal-body">
    <form #debugForm="ngForm" [formGroup]="formGroup">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
                <app-object-ng-select (ngModelChange)="autofillCountryDetails()" formControlName="countryName" [items]="offlineRecords" [searchFn]="searchFn" [labelFn]="labelFn"
                    placeholder="Enter Country" bindValue="name">
                </app-object-ng-select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Currency</label>
            <div class="col-sm-9">
                <input type="text" formControlName="currencyCode" class="form-control" id="currency" placeholder="Enter Currency">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Currency Name</label>
            <div class="col-sm-9">
                <input type="text" formControlName="currencyName" class="form-control" id="currencyName" placeholder="Enter Country Name">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Symbol</label>
            <div class="col-sm-9">
                <input type="text" formControlName="currencySymbol" class="form-control" id="currencySymbol" placeholder="Enter Symbol">
            </div>
        </div>
        <div class="container" *ngIf="selectedCountry && selectedCountry.image">
            <img src="{{ this.selectedCountry.image }}">
        </div>
    </form>
</div>

{{debugForm.value | json}}

<div class="modal-footer d-flex justify-content-between">
    <button type="button" class="ze-btn" (click)="closeModal()">Cancel</button>
    <button type="button" class="ze-btn ze-btn-primary" (click)="saveCountry()">Create</button>
</div>
