<!-- add-country-modal.component.html -->

<div class="modal-header">
    <h4 class="modal-title">Add Country</h4>
    <i class="fa-solid fa-xmark close-icon ze-icon-btn ze-pointer" (click)="closeModal()"></i>
</div>
<div class="modal-body">
    <form [formGroup]="formGroup">
        <div class="form-group row ze-row">
            <label for="countryName" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="countryName" placeholder="Enter Country Name">
            </div>
        </div>
        <div class="form-group row ze-row">
            <label for="currency" class="col-sm-3 col-form-label">Currency</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="currency" placeholder="Enter Currency">
            </div>
        </div>
    </form>
</div>

<div class="modal-footer d-flex justify-content-between">
    <button type="button" class="ze-btn" (click)="closeModal()">Cancel</button>
    <button type="button" class="ze-btn ze-btn-primary" (click)="saveCountry()" [disabled]="formGroup.invalid">Create</button>
</div>
