<div class="modal-header">
    <h4 class="modal--title">Add Stocks</h4>
    <i class="fa-solid fa-xmark close-icon ze-icon-btn ze-pointer" (click)="closeModal(false)"></i>
</div>
<div class="modal-body">
    <form #debugForm="ngForm" [formGroup]="formGroup">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
                <app-object-ng-select [items]="stocks" (selectedObject)="prefillSymbol($event)" [searchFn]="searchFn" [labelFn]="labelFn" [items]=" searchResults"
                    formControlName="name" placeholder="Enter Stock Name" bindValue="name">
                </app-object-ng-select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Symbol</label>
            <div class="col-sm-9">
                <input type="text" formControlName="symbol" class="form-control" id="symbol" placeholder="Enter Symbol">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Quantity</label>
            <div class="col-sm-9">
                <input type="number" formControlName="quantity" class="form-control" id="quantity" placeholder="Enter Quantity">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Average Price</label>
            <div class="col-sm-9">
                <input type="number" formControlName="averagePrice" class="form-control" id="averagePrice" placeholder="Enter Average Price">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Market Cap</label>
            <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-secondary rounded-5 shadow-sm" id="pillNav2" role="tablist"
                style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
                <li class="nav-item" role="presentation">
                    <button (click)="onMarketCapSelect(MarketCap.SMALL_CAP)" class="nav-link active rounded-5" id="home-tab2" data-bs-toggle="tab" type="button" role="tab"
                        aria-selected="true">Small
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button (click)="onMarketCapSelect(MarketCap.MID_CAP)" class="nav-link rounded-5" id="profile-tab2" data-bs-toggle="tab" type="button" role="tab"
                        aria-selected="false">Mid
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button (click)="onMarketCapSelect(MarketCap.LARGE_CAP)" class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab"
                        aria-selected="false">Large
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button (click)="onMarketCapSelect(MarketCap.MEGA_CAP)" class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab"
                        aria-selected="false">Mega
                    </button>
                </li>
            </ul>
        </div>

        <div class="form-group row">
            <label>Sector</label>

            <!-- First Column -->
            <div class="col-4">
                <div class="form-check">
                    <input [value]="Sector.ENERGY" class="form-check-input" type="radio" formControlName="sector" id="energy">
                    <label class="form-check-label" for="energy">
                        <img src="https://cdn-icons-png.flaticon.com/128/2511/2511629.png" height="25px">
                        Energy
                    </label>
                </div>
                <div class="form-check">
                    <input [value]="Sector.MATERIALS" class="form-check-input" type="radio" formControlName="sector" id="materials">
                    <label class="form-check-label" for="materials">
                        <img src="https://cdn-icons-png.flaticon.com/128/4862/4862275.png" height="25px">
                        Materials
                    </label>
                </div>
                <div class="form-check">
                    <input [value]="Sector.INDUSTRIALS" class="form-check-input" type="radio" formControlName="sector" id="industrials">
                    <label class="form-check-label" for="industrials">
                        <img src="https://cdn-icons-png.flaticon.com/128/1037/1037503.png" height="25px">
                        Industrials
                    </label>
                </div>
                <div class="form-check">
                    <input [value]="Sector.UTILITIES" class="form-check-input" type="radio" formControlName="sector" id="utilities">
                    <label class="form-check-label" for="utilities">
                        <img src="https://cdn-icons-png.flaticon.com/128/564/564939.png" height="25px">
                        Utilities
                    </label>
                </div>
                <div class="form-check">
                    <input [value]="Sector.HEALTHCARE" class="form-check-input" type="radio" formControlName="sector" id="healthcare">
                    <label class="form-check-label" for="healthcare">
                        <img src="https://cdn-icons-png.flaticon.com/128/3004/3004458.png" height="25px">
                        Healthcare
                    </label>
                </div>
            </div>

            <!-- Second Column -->
            <div class="col-4">

                <div class="form-check">
                    <input [value]="Sector.FINANCIALS" class="form-check-input" type="radio" formControlName="sector" id="financials" checked>
                    <label class="form-check-label" for="financials">
                        <img src="https://cdn-icons-png.flaticon.com/128/781/781831.png" height="25px">
                        Financials
                    </label>
                </div>
                <div class="form-check">
                    <input [value]="Sector.CONSUMER_DISCRETIONARY" class="form-check-input" type="radio" formControlName="sector" id="consumerDiscretionary">
                    <label class="form-check-label" for="consumerDiscretionary">
                        <img src="https://cdn-icons-png.flaticon.com/128/3081/3081559.png" height="25px">
                        Consumer Discretionary
                    </label>
                </div>
                <div class="form-check">
                    <input [value]="Sector.CONSUMER_STAPLES" class="form-check-input" type="radio" formControlName="sector" id="consumerStaples">
                    <label class="form-check-label" for="consumerStaples">
                        <img src="https://cdn-icons-png.flaticon.com/128/706/706164.png" height="25px">
                        Consumer Staples
                    </label>
                </div>
                <div class="form-check">
                    <input [value]="Sector.INFORMATION_TECHNOLOGY" class="form-check-input" type="radio" formControlName="sector" id="informationTechnology">
                    <label class="form-check-label" for="informationTechnology">
                        <img src="https://cdn-icons-png.flaticon.com/128/9626/9626716.png" height="25px">
                        Information Technology
                    </label>
                </div>
            </div>

            <!-- Third Column -->
            <div class="col-4">
                <div class="form-check">
                    <input [value]="Sector.COMMUNICATION" class="form-check-input" type="radio" formControlName="sector" id="communication">
                    <label class="form-check-label" for="communication">
                        <img src="https://cdn-icons-png.flaticon.com/128/610/610413.png" height="25px">
                        Communication
                    </label>
                </div>
                <div class="form-check">
                    <input [value]="Sector.REAL_ESTATE" class="form-check-input" type="radio" formControlName="sector" id="realEstate">
                    <label class="form-check-label" for="realEstate">
                        <img src="https://cdn-icons-png.flaticon.com/128/602/602182.png" height="25px">
                        Real Estate
                    </label>
                </div>
                <div class="form-check">
                    <input [value]="Sector.ETF" class="form-check-input" type="radio" formControlName="sector" id="etf">
                    <label class="form-check-label" for="etf">
                        <img src="https://cdn-icons-png.flaticon.com/128/11443/11443091.png" height="25px">
                        ETF
                    </label>
                </div>
                <div class="form-check">
                    <input [value]="Sector.INDEX_FUNDS" class="form-check-input" type="radio" formControlName="sector" id="indexFunds">
                    <label class="form-check-label" for="indexFunds">
                        <img src="https://cdn-icons-png.flaticon.com/128/4449/4449895.png" height="25px">
                        Index Funds
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>

<div *ngIf="selectedStock">
    <p>Low : {{selectedStock.bar.l}}, Closing : {{selectedStock.bar.c}}, High : {{selectedStock.bar.h}}</p>
    As of {{selectedStock.bar.t}}
</div>

{{debugForm.value | json}}

<div class="modal-footer d-flex justify-content-between">
    <button type="button" class="ze-btn" (click)="closeModal(false)">Cancel</button>
    <button type="button" class="ze-btn ze-btn-primary" (click)="saveStock()">Create</button>
</div>
